.btn {
    padding: 10px;
    background-color: var(--main-color) !important;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.btn_dark {
    background-color: var(--dark-color) !important;
}
.btn_dark_active {
    background-color: var(--dark-color) !important;
}
.btn_dark_active svg{
    color: var(--main-color);
}
.btn svg {
    margin-right: 10px;
}
.btn_close {
    background-color: #5c636b !important;
    padding: 5px 10px!important;
    width: auto!important;
}